# Requirements para ExtractSUS_v1.0.ipynb
# Copyright (C) 2025 Cararo, J.A.G; Fonte, D.O; Zara, A.L.S.A . GNU v3.
# https://github.com/zehgobbes/ExtractSUS

# Biblioteca principal para download de dados do DATASUS
# git+https://github.com/AlertaDengue/PySUS.git

pysus==1.0.1
numpy==1.26.4
pandas==2.2.2
ipywidgets==7.7.1
matplotlib==3.10.0
PyYAML==6.0.3
scikit-learn==1.6.1
scipy==1.16.3

